<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The OluseyeO Journal</title>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Work+Sans:wght@200;300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-expand-lg shadow-sm ">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand text-white" href="/">MUSINGS</a>
      </div>

      <button class="navbar-toggler float-right custom-toggler" type="button" data-toggle="collapse" data-target="#musingsNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="musingsNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item links">
                <a class="nav-link" href="/" class="my-5 mt-md-0">HOME</a>
            </li>
            <li class="nav-item mx-lg-3 links">
                <a class="nav-link" href="/about">ABOUT</a>
            </li>
            <li class="nav-item mx-lg-3">
                <a class="nav-link compose" href="/compose">COMPOSE</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>


  <body>
    <div class="container">
