<%- include('partials/header') %>

<div>
    <h1 class="m-5 display-4">About</h1>

    <p class="info m-5">
        <%= aboutInfo %> 
    </p>
</div>

<div class="mt-5">
    <h1 class="m-5 display-4">Contact</h1>

    <p class="info m-5">
        <%= contactInfo %> 
    </p>
</div>


<%- include('partials/footer') %> 