<%- include('partials/header') %>

<div class=" px-4 px-md-5">
    <div class="my-5">
        <h3>About</h3>

        <p class="my-3 info">
            Following months of training on using Google Cloud, my interest in the backend programming piqued. Subsequently, following a previous stint programming, I am back and here's my first complete web app with NodeJS, MongoDB & a template Engine
            <%# aboutInfo %> 
        </p>
    </div>

    <div>
        <h3>Contact</h3>

        <p class="my-3 info">
            I can be reached via .......... 
            <%# contactInfo %> 
        </p>
    </div>
</div>

<%- include('partials/footer') %> 