<%- include('partials/header') -%> 

<h1 class="display-4 text-center my-5">Compose</h1>

<div class="px-4 px-md-0">
    <form action="/compose" method="post">
        <div class="form-group">
            <label for="newContentTitile">Title</label>
            <input type="text" name="newContentTitile" id="newContentTitile" autocomplete="off" class="form-control"/>
            <label for="newContentPost">Post</label>
            <textarea name="newContentPost" id="newContentPost" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-custom">Publish</button>
    </form>
</div>

<%- include('partials/footer')  -%> 