<%- include('partials/header'); -%>

<div class="text-center m-5">
    <img src="../img/failure.jpg" alt="404-image" width="60%">

    <h2 class="text-center text-danger"> <%= errorMsg._message%> </h2>

    <p class="mt-4"><a href="/compose" class="return">Create New Post</a></p>
</div>

<%- include('partials/footer') -%> >