<%- include('partials/header'); -%>

<img src="../img/failure.jpg" alt="404-image" width="100%" >

<h1 class=" display-4 text-center text-danger"> <%= errorMsg._message%> </h1>

<%- include('partials/footer') -%> >