.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #04053A;
    font-size: 16px;
	letter-spacing: 3.5px;
	color: #5243a6 ;
}

.navbar-nav  li a:hover {
    color: #FC820E;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252,130,14)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body{
	background-color: #F8F8FF;
	height: 100vh;
}

h1,
h2,
h3{
	color: #0D0e8B;
	font-family: 'Permanent Marker', cursive;
}

h2{
	font-size: 24px;
}

h3{
	font-size: 28px;
}

.return,
.readMore{
	color: #04053A;
	font-weight: 500;
}

.return:hover,
.readMore:hover{
	color:#FC820E;
	font-weight: 700;
	text-decoration: none;
}

p{
	color: #555165;
}

/* ==== POST FORMATTING==== */

.postContent,
.info{
	font-size: 18px;
	font-family: 'Work Sans', sans-serif;;
}

.compose{
	color:#fff;
	font-weight:bold;
}


.btn-custom{
	background-color: #FC820E;
	color: white;
	font-family: 'Permanent Marker', cursive;;
}